<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/new.css">
    <title>New Post Factory</title>
</head>
<body>
    <form method="post" action="/posts"  >
        <div>
            <h3 style="align-items: center;">Add A New Post : </h3>

        <input type="text" name="username" id="" placeholder="enter username">
        <br> <br>
        <textarea name="content" id="" rows="20" cols="40" placeholder="Enter your posts's content"></textarea>
        <br> <br>
        <button>Add New Post</button>
        </div>
        
    </form>
</body>
</html>