<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Your Post</title>
</head>
<body>
    <div class="post">
        <h1>Here Is Your Post in Detail : </h1>
    <h3> ID Number : <%= post.id %></h3>
    <h3 class="user"> Username : <%= post.username %></h3>
    <h3 class="content"> Content : <%= post.content %></h3>
    </div>
    
</body>
</html>